.print-area {
    width: 100%;
    display: inline-block;
}
.test-title {
    font-weight: bold;
    margin: 60px auto;
    width: 60%;
    text-align: center;
}
.test-content {
    margin: 20px 0 0 40px;
}
.test-content:first-child {
    margin: 80px 0 0 0;
}
.basic-row {
    display: block;padding: 20px 0 0 0;
}
.basic-row .input {
    border-bottom: 1px solid;
    width: 120px;
    display: inline-block;
    text-align: center;
}
.basic-row .input-date {
    border-bottom: 1px solid;
    width: 80px;
    display: inline-block;
    text-align: center;
}
.test-grid {
    border: 1px solid;
    width: 697px;
    border-collapse: collapse;
}
.test-grid tr {
    height: 46px;
}
.test-grid td,th {
    border: thin solid;
    text-align: center;
}
.test-grid td:first-child {
    width: 10%;
}
.test-grid td:nth-child(2) {
    width: 20%;
}
.test-grid td:nth-child(3) {
    width: 30%;
}
.test-grid td:nth-child(4) {
    width: 20%;
}
.test-grid td:nth-child(5) {
    width: 20%;
}
.large-paragraph {
    width: 700px;
    height: 100px;
}
.small-paragraph {
    width: 100%;
    height: 30px;
}
.inscription {
    display: block;
    width: 100%;
    text-align: right;
}
.inscription .input {
    border-bottom: 1px solid;
    width: 200px;
    display: inline-block;
    text-align: center;
}
.inscription .seal {
    display: block;
    width: 100%;
    margin-top: 20px;
    position: relative;
    right: 100px;
}

.inscription .date {
    display: block;
    width: 100%;
    margin-top: 20px;
    position: relative;
    right: 40px;
}
.btn-print {
    width: 60px;
    height: 28px;
    text-align:center;
    border-radius: 3px;
    text-decoration: none;
    background-color: #D9BC17;
    color: #000;
    padding-top: 6px;
    display: inline-block;
}
.btn-print:hover {
    background-color: #FFCC33;
}
@media print {
    @page {
        margin: 0;
    }
}