.status-file-view-box {
    width: 150px;
    min-width: 150px;
    height: 220px;
    display: inline-block;
    vertical-align: top;
}
.status-file-view-box img {
    height: 100px;
}
.hide-file-button {
    width: 1px !important;
    height: 1px !important;
}
.status-relation {
    display: none;
}
.sub-status-relation {
    display: none;
}
.update {
    height: 50px;
}
.date-label {
    display: none;
}
.date-member {
    display: none;
}
.status-file-view-title {
    margin-bottom: 10px;
}
.wrap {
    display: block !important;
}