<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">后台用户列表</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                        <a href="{:url('SystemUsers/create')}" class="btn btn-primary pull-right"><i class="icon-plus"></i>新增用户</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="controls ml0">
                <form class="form-horizontal">
                    <div class="">搜索查询</div>
                    <div class="control-group">
                    <label class="control-label"> 单位 </label>
                    <div class="controls" id="dmmcsbox">
                        <select name="area1" class="lv1" data-value="{$param['a1']}" style="display: none;"></select>
                        <select name="area2" class="lv2" {if $powerLevel egt 2}disabled{/if} data-value="{$param['a2']}"></select>
                        <select name="area3" class="lv3" {if $powerLevel egt 3}disabled{/if} data-value="{$param['a3']}"></select>
                        <select name="area4" class="lv4" {if $powerLevel egt 4}disabled{/if} data-value="{$param['a4']}"></select>
                    </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="keywords" class="input" value="{$param['keywords']}" placeholder="手机号码 / 姓名"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <button class="btn btn-success"><i class="icon-search"></i> 搜索</button>
                            {if $is_so}
                            <a href="./" class="btn btn-warning"><i class="icon-trash"></i> 清空搜索</a>
                            {/if}

                        </div>
                    </div>

                </form>
            </div>

            <p class="align-c text-info">总记录： {$total} 条</p>
            <hr/>
        </div>
        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <!--<th>头像</th>-->
                <th>帐号</th>
                <th>姓名</th>
                <th>手机号码</th>
                <th>单位</th>
                <th>管理角色</th>
                <th>最近登录时间</th>
                <th>操作</th>
            </tr>
            {empty name="list"}
            <tr><td colspan="18">木有找到相关的信息</td></tr>
            {else/}
            {foreach name="list" item="da"}
            <tr>
                <!--<td><img src="{$da.HEAD_IMG_URL}" style="height: 40px;"/></td>-->
                <td>{$da.LOG}</td>
                <td>{$da.NAME}</td>
                <td>{$da.MOBILE}</td>
                <td>{$da.DMMC_NAME}</td>
                <td>{$da.ROLE}</td>
                <td>{$da.LGTIME}</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            操作列表 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            <li><a href="javascript:;" data-url="{:url('SystemUsers/read',array('id'=>$da['ID']))}" class="openlayerwin"><i class="icon-info-sign"></i> 详情</a></li>
                            <li><a href="{:url('SystemUsers/edit',array('id'=>$da['ID']))}"><i class="icon-edit"></i> 编辑</a></li>
                            <li><a href="javascript:;" data-url="{:url('SystemUsers/changePwd',array('id'=>$da['ID']))}" class="openlayerwin1"><i class="icon-edit"></i> 修改密码</a></li>
                            <li><a href="javascript:;" data-href="{:url('SystemUsers/delete',array('id'=>$da['ID']))}" onclick="deldata(this);"><i class="icon-trash"></i> 删除</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/foreach}
            {/empty}
            </tbody>

        </table>

        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info"></div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">
                {$list|raw}
            </div></div>
        </div>
    </div>
</div>
