<script type="text/javascript">
    var JD_VERSION = "{$jd_cache_ver}";
</script>
<!--============ javascript ===========-->
<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/bootstrap/js/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap/js/jquery.metadata.js"></script>
<script src="/static/bootstrap/js/jquery.tablecloth.js"></script>
<script src="/static/bootstrap/js/jquery.collapsible.js"></script>
<script src="/static/bootstrap/js/accordion.nav.js"></script>
<script src="/static/bootstrap/js/jquery.gritter.js"></script>
<script src="/static/bootstrap/js/tiny_mce/jquery.tinymce.js"></script>
<script src="/static/plugin/nlayer/layer.min.js"></script>
<script src="/static/bootstrap/js/custom.js?{$jd_cache_ver}"></script>
<script src="/static/plugin/common/common.js?{$jd_cache_ver}" type="text/javascript"></script>
{include file="common/footjs" /}
</body>
</html>