<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">轮播</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal left-align" method="post" action="{:url('Carousel/create')}" enctype="multipart/form-data">
            {notempty name="info"}
            <input type="hidden" name="ID" value="{$info.ID}"/>
            {/notempty}
            <input type="hidden" name="ref" value=""/>

            <!--<div class="control-group">
                <label class="control-label"><span class="error">*</span> 标题</label>
                <div class="controls">
                    <input type="text" name="TITLE" value="{if $info}{$info.TITLE}{/if}" class="input span6" placeholder=""/>
                </div>
            </div>-->
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 展示端</label>
                <div class="controls">
                    <select name="CLIENT_TAG">
                        {foreach name="client_tags" item="tag" key="kk"}
                        <option value="{$kk}"{if $info&&$info.CLIENT_TAG==$kk} selected{/if}>{$tag}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 跳转链接</label>
                <div class="controls">
                    <input type="text" name="JUMP_LINK" class="span6" value="{if $info}{$info.JUMP_LINK}{/if}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 轮播图片</label>
                <div class="controls">

                    <div class="mcdoc_upload_box" style="width: 300px;">
                        <button type="button" class="btn btn-success jdselectimg">选择图片</button>
                        <input type="file" name="images" accept="image/*" class="jdfileinput"/>
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内，大小 600x600（px）</div>
                        <div class=" text-error update"></div>

                        <p>&nbsp;</p>
                        {if $info}
                        <div class="qiniu_doc_line">

                            <p><img src="{if $info}{$info.IMG_URL}{else/}/data/image/default.png{/if}" style="height: 120px;"/> </p>


                            <!--<p><a href="javascript:;" class="text-error del_localfile"><i class="icon-trash"></i> 删除</a></p>-->
                        </div>
                        {/if}
                    </div>

                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="subbtn">保存设置</button>
                <a href="javascript:history.back();" class="btn"><i class="icon-reply"></i> 取消</a>
            </div>
        </form>

    </div>
</div><!-- 主体 end-->
