<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">轮播列表</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                        <a href="javascript:;" data-url="{:url('Carousel/create')}" class="btn btn-primary pull-right openlayerwin"><i class="icon-plus"></i>添加新轮播</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th>封面</th>
                <th>跳转链接</th>
                <th>显示客户端</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            {empty name="list"}
            <tr><td colspan="5">木有找到相关的信息</td></tr>
            {else/}
            {foreach name="list" item="da"}
            <tr>
                <td><img src="{$da.IMG_URL}" style="height: 50px;"/> </td>
                <td>{$da.JUMP_LINK}
                <a href="{$da.JUMP_LINK}" target="_blank">前往</a>
                </td>
                <td>{$client_tags[$da.CLIENT_TAG]}</td>
                <td>{$da.ADD_TIME}</td>
                <td>

                    <a href="javascript:;" data-url="{:url('Carousel/edit',array('id'=>$da['ID']))}" class="btn mini openlayerwin"><i class="icon-edit"></i>编辑</a>
                    <a href="javascript:;" data-href="{:url('Carousel/delete',array('id'=>$da['ID']))}" class="btn mini btn-danger" onclick="deldata(this);"><i class="icon-trash"></i>删除</a>
                </td>
            </tr>
            {/foreach}
            {/empty}
            </tbody>

        </table>

        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info"></div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">
                {$page|raw}
            </div></div>
        </div>
    </div>
</div>
