<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">管理人员操作日志</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="controls ml0">
                <form class="form-horizontal">
                    <div class="">搜索查询</div>

                    <div class="control-group">
                        <label class="control-label"> 操作时间 </label>
                        <div class="controls">
                            <input type="date" name="oper_begin_time" value="{$param['oper_begin_time']}"/> -
                            <input type="date" name="oper_end_time" value="{$param['oper_end_time']}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="keywords" class="input" style="width: 300px;" value="{$keywords}" placeholder="管理人员 / 操作ID / 操作名称 / 操作对象名称"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <button class="btn btn-success"><i class="icon-search"></i> 搜索</button>
                            {if $is_so}
                            <a id="btnClear" href="javascript:void(0);" class="btn btn-warning"><i class="icon-trash"></i> 清空搜索</a>
                            {/if}
                        </div>
                    </div>

                </form>
            </div>

            <p class="align-c text-info">总记录： {$total} 条</p>
            <hr/>
        </div>

        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th>管理人员</th>
                <th>操作ID</th>
                <th>操作名称</th>
                <th>操作类型</th>
                <th>操作条件</th>
                <th>操作对象类型</th>
                <th>操作对象名称</th>
                <th>操作时间</th>
            </tr>
            {empty name="list"}
            <tr><td colspan="7">木有找到相关的信息</td></tr>
            {else/}
            {foreach name="list" item="da" key="index"}
            <input type="hidden" id="content_{$index}" value="{$da.LOG_ACTION_CONTENT}" />
            <tr>
                <td>{$da.UM_NAME}</td>
                <td>{$da.LOG_ACTION_ID}</td>
                <td>{$da.LOG_ACTION}</td>
                <td>{$da.LOG_ACTION_TYPE}</td>
                <td><a id="contentViewer_{$index}" href="javascript:void(0);">查看</a></td>
                <td>{$da.TARGET_TYPE}</td>
                <td>{$da.TARGET_NAME}</td>
                <td>{$da.ADD_TIME}</td>
            </tr>
            {/foreach}
            {/empty}
            </tbody>

        </table>

        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info"></div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">
                {$page|raw}
            </div></div>
        </div>
    </div>
</div>
