<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span4"><h3 class="page-header">添加/编辑康复人员</h3></div>
                    <div class="span8">
                        <a href="{:url('UserUsers/index')}" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal left-align" method="post" action="{if $info}{:url('UserUsers/edit')}{else/}{:url('UserUsers/create')}{/if}" enctype="multipart/form-data">
            {notempty name="info"}
            <input type="hidden" name="ID" value="{$info.ID}"/>
            {/notempty}
            <input type="hidden" name="ref" value=""/>

            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 姓名</label>
                <div class="controls">
                    <input type="text" name="NAME" id="name" value="{if $info}{$info.NAME}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 证件类型</label>
                <div class="controls">
                    <select name="ID_NUMBER_TYPE" id="idnumbertype">
                        <option value="">请选择</option>
                        {foreach name="card_types" item="card"}
                        <option value="{$card.ID}"{if $info&&$info.ID_NUMBER_TYPE==$card.ID} selected{/if}>{$card.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 证件号码</label>
                <div class="controls">
                    <input type="text" name="ID_NUMBER" id="idnumber" value="{if $info}{$info.ID_NUMBER}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 手机号码</label>
                <div class="controls">
                    <input type="text" name="MOBILE" id="mobile" value="{if $info}{$info.MOBILE}{/if}" class="input" maxlength="15" placeholder="可填入非手机号、手机号、文字说明"/>
                </div>
            </div>
            {if !$info || !$info.PWSD}
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 登录密码</label>
                <div class="controls">
                    <input type="password" name="PWSD" id="pwsd" value="" class="input" placeholder=""/>
                </div>
            </div>
            {/if}
            <div class="control-group">
                <label class="control-label"> 绰号别名</label>
                <div class="controls">
                    <input type="text" name="ALIAS_NAME" id="alias_name" value="{if $info}{$info.ALIAS_NAME}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 性别</label>
                <div class="controls">

                    <select name="GENDER" id="gender">
                        <option value="">请选择</option>
                        {foreach name="genders" item="gender"}
                        <option value="{$gender.ID}"{if $info&&$info.GENDER==$gender.ID} selected{/if}>{$gender.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 人员状态 </label>
                <div class="controls">
                    <select name="USER_STATUS_ID" id="ustatus">
                        <option value="">请选择</option>
                        {foreach name="user_status" item="ustatus"}
                        <option value="{$ustatus.ID}"{if $info&&$info.USER_STATUS_ID==$ustatus.ID} selected{/if}>{$ustatus.NAME}</option>
                        {/foreach}
                    </select>
                    <input id="userStatusName" type="hidden" name="USER_STATUS_NAME" value="{if $info}{$info.USER_STATUS_NAME}{/if}" />
                    {if $info}
                        <a id="statusChangesViewer" href="javascript:void(0);" data-url="{:url('UserUsers/statusChanges',['id'=>$info.ID])}" style="margin-left: 6px;">历史记录</a>
                    {/if}
                </div>
            </div>
            <div class="control-group status-relation">
                <label class="control-label date-label" status="社区戒毒中"><span class="error">*</span> 开始时间 </label>
                <label class="control-label date-label" status="社区康复中"><span class="error">*</span> 开始时间 </label>
                <label class="control-label date-label" status="强制戒毒中"><span class="error">*</span> 起止时间 </label>
                <label class="control-label date-label" status="社戒社康终止"><span class="error">*</span> 终止时间 </label>
                <label class="control-label date-label" status="羁押拘留中"><span class="error">*</span> 起止时间 </label>
                <label class="control-label date-label" status="未报到已移交"><span class="error">*</span> 移交时间 </label>
                <label class="control-label date-label" status="违反协议已移交"><span class="error">*</span> 移交时间 </label>
                <label class="control-label date-label" status="自愿戒毒中"><span class="error">*</span> 开始时间 </label>
                <label class="control-label date-label" status="出国中"><span class="error">*</span> 出国时间 </label>
                <label class="control-label date-label" status="已死亡"><span class="error">*</span> 死亡时间 </label>
                <label class="control-label date-label" status="社会面服刑中"><span class="error">*</span> 开始时间 </label>
                <label class="control-label date-label" status="戒断三年未复吸服刑中"><span class="error">*</span> 开始时间 </label>
                <div class="controls">
                    <input type="date" class="date-member" name="JD_START_TIME" id="jd_start_time" value="{if $info}{$info.JD_START_TIME}{/if}"/>
                    <span class="date-member">-</span>
                    <input type="date" class="date-member" name="JD_END_TIME" id="jd_end_time" value="{if $info}{$info.JD_END_TIME}{/if}"/>
                </div>
            </div>
            <div class="control-group status-relation">
                <label class="control-label"><span class="error">*</span> 执行地点 </label>
                <div class="controls">
                    <input type="text" name="executePlace" value="{if $info && isset($info.executePlace)}{$info.executePlace}{/if}" style="width: 438px;" />
                </div>
            </div>
            <div class="control-group status-relation">
                <label class="control-label"><span class="error">*</span> 拘留地点 </label>
                <div class="controls">
                    <input type="text" name="detainPlace" value="{if $info && isset($info.detainPlace)}{$info.detainPlace}{/if}" style="width: 438px;" />
                </div>
            </div>
            <div class="control-group status-relation">
                <label class="control-label"><span class="error">*</span> 国家名称 </label>
                <div class="controls">
                    <input type="text" name="country" value="{if $info && isset($info.country)}{$info.country}{/if}" />
                </div>
            </div>
            <div class="control-group status-relation">
                <div class="controls" style="margin-bottom: -20px;">
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>告诫书</h6>
                        <button type="button" class="btn btn-success wbdyyj-gjs-selector">选择图片</button>
                        <input type="file" name="wbdyyjGJS" accept="image/*" class="wbdyyj-gjs-file hide-file-button"/>
                        <input type="hidden" name="wbdyyjGJS_uri" value="{if $info && isset($info.wbdyyjGJS)}{$info.wbdyyjGJS}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.wbdyyjGJS_url)}{$info.wbdyyjGJS_url}{else/}/static/images/empty.png{/if}"/>
                        {/if}
                    </div>
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>逾期未报到证明</h6>
                        <button type="button" class="btn btn-success wbdyyj-yqwbdzm-selector">选择图片</button>
                        <input type="file" name="wbdyyjYQWBDZM" accept="image/*" class="wbdyyj-yqwbdzm-file hide-file-button"/>
                        <input type="hidden" name="wbdyyjYQWBDZM_uri" value="{if $info && isset($info.wbdyyjYQWBDZM)}{$info.wbdyyjYQWBDZM}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.wbdyyjYQWBDZM_url)}{$info.wbdyyjYQWBDZM_url}{else/}/static/images/empty.png{/if}"/>
                        {/if}
                    </div>
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>移交回执</h6>
                        <button type="button" class="btn btn-success wbdyyj-yjhz-selector">选择图片</button>
                        <input type="file" name="wbdyyjYJHZ" accept="image/*" class="wbdyyj-yjhz-file hide-file-button"/>
                        <input type="hidden" name="wbdyyjYJHZ_uri" value="{if $info && isset($info.wbdyyjYJHZ)}{$info.wbdyyjYJHZ}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.wbdyyjYJHZ_url)}{$info.wbdyyjYJHZ_url}{else/}/static/images/empty.png{/if}"/>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="control-group status-relation">
                <div class="controls" style="margin-bottom: -20px;">
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>告诫书</h6>
                        <button type="button" class="btn btn-success wfxyyyj-gjs-selector">选择图片</button>
                        <input type="file" name="wfxyyyjGJS" accept="image/*" class="wfxyyyj-gjs-file hide-file-button" />
                        <input type="hidden" name="wfxyyyjGJS_uri" value="{if $info && isset($info.wfxyyyjGJS)}{$info.wfxyyyjGJS}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.wfxyyyjGJS_url)}{$info.wfxyyyjGJS_url}{else/}/static/images/empty.png{/if}" />
                        {/if}
                    </div>
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>吸毒检测通知书</h6>
                        <button type="button" class="btn btn-success wfxyyyj-xdjctzs-selector">选择图片</button>
                        <input type="file" name="wfxyyyjXDJCTZS" accept="image/*" class="wfxyyyj-xdjctzs-file hide-file-button"/>
                        <input type="hidden" name="wfxyyyjXDJCTZS_uri" value="{if $info && isset($info.wfxyyyjXDJCTZS)}{$info.wfxyyyjXDJCTZS}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.wfxyyyjXDJCTZS_url)}{$info.wfxyyyjXDJCTZS_url}{else/}/static/images/empty.png{/if}"/>
                        {/if}
                    </div>
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>严重违反协议证明</h6>
                        <button type="button" class="btn btn-success wfxyyyj-yzwfxyzm-selector">选择图片</button>
                        <input type="file" name="wfxyyyjYZWFXYZM" accept="image/*" class="wfxyyyj-yzwfxyzm-file hide-file-button"/>
                        <input type="hidden" name="wfxyyyjYZWFXYZM_uri" value="{if $info && isset($info.wfxyyyjYZWFXYZM)}{$info.wfxyyyjYZWFXYZM}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.wfxyyyjYZWFXYZM_url)}{$info.wfxyyyjYZWFXYZM_url}{else/}/static/images/empty.png{/if}"/>
                        {/if}
                    </div>
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>移交回执</h6>
                        <button type="button" class="btn btn-success wfxyyyj-yjhz-selector">选择图片</button>
                        <input type="file" name="wfxyyyjYJHZ" accept="image/*" class="wfxyyyj-yjhz-file hide-file-button"/>
                        <input type="hidden" name="wfxyyyjYJHZ_uri" value="{if $info && isset($info.wfxyyyjYJHZ)}{$info.wfxyyyjYJHZ}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.wfxyyyjYJHZ_url)}{$info.wfxyyyjYJHZ_url}{else/}/static/images/empty.png{/if}"/>
                        {/if}
                    </div>
                </div>
            </div>
            <!------------------------------------------二级状态分割线---------------------------------------------->
            <div class="control-group status-relation">
                <label class="control-label"> 二级状态 </label>
                <div class="controls">
                    <select id="userSubStatusSelector" name="USER_SUB_STATUS_ID">
                        <option value="">请选择</option>
                        {foreach name="user_sub_status" item="subStatus"}
                            <option value="{$subStatus.ID}" {if $info && $info.USER_SUB_STATUS_ID == $subStatus.ID}selected{/if}>{$subStatus.NAME}</option>
                        {/foreach}
                    </select>
                    <input id="userSubStatusName" type="hidden" name="USER_SUB_STATUS_NAME" value="{if $info}{$info.USER_SUB_STATUS_NAME}{/if}" />
                </div>
            </div>
            <div class="control-group sub-status-relation">
                <label class="control-label date-label" status="请假中"><span class="error">*</span> 起止时间 </label>
                <label class="control-label date-label" status="中止"><span class="error">*</span> 起止时间 </label>
                <label class="control-label date-label" status="双向管控中"><span class="error">*</span> 开始时间 </label>
                <div class="controls">
                    <input type="date" class="date-member" name="SUB_STATUS_START_TIME" value="{if $info}{$info.SUB_STATUS_START_TIME}{/if}"/>
                    <span class="date-member">-</span>
                    <input type="date" class="date-member" name="SUB_STATUS_END_TIME" value="{if $info}{$info.SUB_STATUS_END_TIME}{/if}"/>
                </div>
            </div>
            <div class="control-group sub-status-relation">
                <div class="controls" style="margin-bottom: -20px;">
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>中止程序说明</h6>
                        <button type="button" class="btn btn-success suspend-cxsm-selector">选择图片</button>
                        <input type="file" name="suspendZZCXSM" accept="image/*" class="suspend-cxsm-file hide-file-button"/>
                        <input type="hidden" name="suspendZZCXSM_uri" value="{if $info && isset($info.suspendZZCXSM)}{$info.suspendZZCXSM}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.suspendZZCXSM_url)}{$info.suspendZZCXSM_url}{else/}/static/images/empty.png{/if}" />
                        {/if}
                    </div>
                </div>
            </div>
            <div class="control-group sub-status-relation">
                <div class="controls" style="margin-bottom: -20px;">
                    <div class="mcdoc_upload_box status-file-view-box">
                        <h6 style="margin-bottom: 10px;"><span class="error">*</span>双向管控函</h6>
                        <button type="button" class="btn btn-success sxgkh-selector">选择图片</button>
                        <input type="file" name="SXGKH" accept="image/*" class="sxgkh-file hide-file-button"/>
                        <input type="hidden" name="SXGKH_uri" value="{if $info && isset($info.SXGKH)}{$info.SXGKH}{/if}" />
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内</div>
                        <div class=" text-error update"></div>
                        {if $info}
                            <img src="{if $info && isset($info.SXGKH_url)}{$info.SXGKH_url}{else/}/static/images/empty.png{/if}"/>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="control-group sub-status-relation">
                <label class="control-label"><span class="error">*</span> 中止原因 </label>
                <div class="controls">
                    <textarea rows="5" name="suspendReason" style="width: 438px;">{if $info && isset($info.suspendReason)}{$info.suspendReason}{/if}</textarea>
                </div>
            </div>
            <div class="control-group sub-status-relation">
                <label class="control-label"><span class="error">*</span> 双向管控原因 </label>
                <div class="controls">
                    <textarea rows="5" name="sxgkReason" style="width: 438px;">{if $info && isset($info.sxgkReason)}{$info.sxgkReason}{/if}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 风险等级 </label>
                <div class="controls">
                    <select name="DANGER_LEVEL_ID" id="danger">
                        <option value="">请选择</option>
                        {foreach name="danger_level" item="danger"}
                        <option value="{$danger.ID}"{if $info&&$info.DANGER_LEVEL_ID==$danger.ID} selected{/if}>{$danger.NAME}</option>
                        {/foreach}
                    </select>
                    {if $info}
                    <a href="{:url('UserEstimates/index',['id'=>$info.ID])}" target="_blank">《风险评估》</a>
                    {/if}
                </div>

            </div>

            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 国籍 </label>
                <div class="controls">

                    <select name="NATIONALITY_ID" id="nationality">
                        <option value="">请选择</option>
                        {foreach name="nationality" item="nationa"}
                        <option value="{$nationa.ID}"{if $info&&$info.NATIONALITY_ID==$nationa.ID} selected{/if}>{$nationa.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 民族 </label>
                <div class="controls">
                    <select name="NATION_ID" id="nation">
                        <option value="">请选择</option>
                        {foreach name="nations" item="nation"}
                        <option value="{$nation.ID}"{if $info&&$info.NATION_ID==$nation.ID} selected{/if}>{$nation.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 身高（厘米） </label>
                <div class="controls">
                    <input type="number" id="height" name="HEIGHT" value="{if $info}{$info.HEIGHT}{/if}" class="input" placeholder=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> 文化程度 </label>
                <div class="controls">
                    <select name="EDUCATION_ID" id="education">
                        <option value="">请选择</option>
                        {foreach name="edus" item="edu"}

                        <option value="{$edu.ID}"{if $info&&$info.EDUCATION_ID==$edu.ID} selected{/if}>{$edu.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 就业状况 </label>
                <div class="controls">
                    <select name="JOB_STATUS_ID" id="job_status">
                        <option value="">请选择</option>
                        {foreach name="job_status" item="job"}

                        <option value="{$job.ID}"{if $info&&$info.JOB_STATUS_ID==$job.ID} selected{/if}>{$job.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">工作单位 </label>
                <div class="controls">
                    <input type="text" name="JOB_UNIT" value="{if $info}{$info.JOB_UNIT}{/if}" class="input" placeholder=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> 婚姻状况 </label>
                <div class="controls">
                    <select name="MARITAL_STATUS_ID" id="martial_status">
                        <option value="">请选择</option>
                        {foreach name="marital_status" item="marry"}

                        <option value="{$marry.ID}"{if $info&&$info.MARITAL_STATUS_ID==$marry.ID} selected{/if}>{$marry.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 户籍地 </label>
                <div class="controls" id="areas1">
                    <select name="domicileplace[]" class="lv1" data-value="{if $info}{$info.DOMICILE_IDS[0]}{/if}"></select>
                    <select name="domicileplace[]" class="lv2" data-value="{if $info}{$info.DOMICILE_IDS[1]}{/if}"></select>
                    <select name="domicileplace[]" class="lv3" data-value="{if $info}{$info.DOMICILE_IDS[2]}{/if}"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 户籍地详细地址 </label>
                <div class="controls">
                    <input type="text" name="DOMICILE_ADDRESS" id="domicile_address" value="{if $info}{$info.DOMICILE_ADDRESS}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 户籍地派出所名称 </label>
                <div class="controls">
                    <input type="text" name="DOMICILE_POLICE_STATION" id="domicile_police_name" value="{if $info}{$info.DOMICILE_POLICE_STATION}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 户籍地派出所代码 </label>
                <div class="controls">
                    <input type="text" name="DOMICILE_POLICE_STATION_CODE" id="domicile_police_code" value="{if $info}{$info.DOMICILE_POLICE_STATION_CODE}{/if}" class="input" placeholder=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 现居地 </label>
                <div class="controls" id="areas3">
                    <select name="levelarea[]" class="lv1" data-value="{if $info}{$info.COUNTY_ID_12}{/if}"></select>
                    <select name="levelarea[]" class="lv2" data-value="{if $info}{$info.STREET_ID}{/if}"></select>
                    <select name="levelarea[]" class="lv3" data-value="{if $info}{$info.COMMUNITY_ID}{/if}"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 现居地详址 </label>
                <div class="controls">
                    <input type="text" name="LIVE_ADDRESS" id="live_address" value="{if $info}{$info.LIVE_ADDRESS}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 现居地派出所名称 </label>
                <div class="controls">
                    <input type="text" name="LIVE_POLICE_STATION" id="live_police_name" value="{if $info}{$info.LIVE_POLICE_STATION}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 现居地派出所代码 </label>
                <div class="controls">
                    <input type="text" name="LIVE_POLICE_STATION_CODE" id="live_police_code" value="{if $info}{$info.LIVE_POLICE_STATION_CODE}{/if}" class="input" placeholder=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> 吸毒方式 </label>
                <div class="controls">
                    <select name="DRUG_TYPE_ID" id="drug_type">
                        <option value="">请选择</option>
                        {foreach name="drug_types" item="drug"}

                        <option value="{$drug.ID}"{if $info&&$info.DRUG_TYPE_ID==$drug.ID} selected{/if}>{$drug.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 毒品种类 </label>
                <div class="controls">
                    <select name="NARCOTICS_TYPE_ID" id="narcotics_type">
                        <option value="">请选择</option>
                        {foreach name="narcotics_types" item="narc"}

                        <option value="{$narc.ID}"{if $info&&$info.NARCOTICS_TYPE_ID==$narc.ID} selected{/if}>{$narc.NAME}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> 责任民警警号</label>
                <div class="controls">
                    <input type="text" name="POLICE_LIABLE_CODE" id="police_code" value="{if $info}{$info.POLICE_LIABLE_CODE}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 责任民警姓名 </label>
                <div class="controls">
                    <input type="text" name="POLICE_LIABLE_NAME" id="police_name" value="{if $info}{$info.POLICE_LIABLE_NAME}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 责任民警联系电话</label>
                <div class="controls">
                    <input type="text" name="POLICE_LIABLE_MOBILE" id="police_mobile" value="{if $info}{$info.POLICE_LIABLE_MOBILE}{/if}" class="input" placeholder=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 负责专干姓名 </label>
                <div class="controls">
                    <input type="text" name="JD_ZHUANGAN" id="jd_zhuangan" value="{if $info}{$info.JD_ZHUANGAN}{/if}" class="input" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 负责专干联系电话</label>
                <div class="controls">
                    <input type="text" name="JD_ZHUANGAN_MOBILE" id="jd_zhuangan_mobile" value="{if $info}{$info.JD_ZHUANGAN_MOBILE}{/if}" class="input" placeholder=""/>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label"> 头像</label>
                <div class="controls">

                    <div class="mcdoc_upload_box" style="width: 300px;">
                        <button type="button" class="btn btn-success jdselectimg">选择图片</button>
                        <input type="file" name="images" accept="image/*" class="jdfileinput"/>
                        <div class="mt10 ml10 muted">仅允许jpg和png格式，1.5M内，大小 600x600（px）</div>
                        <div class=" text-error update"></div>
                        <p>&nbsp;</p>
                        {if $info}
                        <div class="qiniu_doc_line">
                            <p><img src="{if $info}{$info.HEAD_IMG_URL}{else/}/data/image/default.png{/if}" style="height: 120px;"/> </p>
                        </div>
                        {/if}
                    </div>

                </div>
            </div>


            <div class="control-group">
                <label class="control-label"> 备注</label>
                <div class="controls"><textarea class="span8 ml0" id="remarks" name="JD_REMARKS" rows="20" style="height: 400px;" placeholder="">{if $info}{$info.JD_REMARKS}{/if}</textarea>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="subbtn">保存资料</button>
                <a href="javascript:history.back();" class="btn"><i class="icon-reply"></i> 取消</a>
            </div>
        </form>

    </div>
</div><!-- 主体 end-->
<script type="text/javascript">
    var ed_url = "{:url('Ueditor/index')}";
    STATUS = "{if $info}{$info.USER_STATUS_NAME}{/if}";
    SUB_STATUS = "{if $info}{$info.USER_SUB_STATUS_NAME}{/if}";
</script>