<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">决定书</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal left-align" method="post" action="{:url('UserUsers/decision',['id'=>$user.ID])}">

            <input type="hidden" name="UUID" value="{$user.ID}"/>

            <div class="control-group">
                <label class="control-label">标题</label>
                <div class="controls">
                    <input name="TITLE" value="{if $info}{$info.TITLE}{/if}" class="input span6" placeholder=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 内容</label>
                <div class="controls"><textarea class="span8 ml0" id="content" name="CONTENT" rows="20" style="height: 400px;" placeholder="">{if $info}{$info.CONTENT}{/if}</textarea>
                </div>
            </div>



            <div class="form-actions">
                <button class="btn btn-primary" id="subbtn">保存资料</button>
                <a href="javascript:history.back();" class="btn"><i class="icon-reply"></i> 取消</a>
            </div>
        </form>

    </div>
</div><!-- 主体 end-->
<script type="text/javascript">
    var ed_url = "{:url('Ueditor/index')}";
</script>