<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">吸毒检测(尿检)记录</h3></div>
                    <div class="span9">
                        <a href="{:url('UserUsers/index')}" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                        <a href="{:url('UserUsers/printDrugTest', array('id' => $uuid))}" style="margin-right: 10px;" target="_blank" class="btn btn-info pull-right"><i class="icon-print"></i> 打印</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="controls ml0">
                <form class="form-horizontal">
                    <div class="">搜索查询</div>

                    <div class="control-group">
                        <label class="control-label"> 检测时间 </label>
                        <div class="controls">
                            <input type="date" name="begin_test_time" value="{$param.begin_test_time}"/> -
                            <input type="date" name="end_test_time" value="{$param.end_test_time}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="keywords" class="input" value="{$keywords}" placeholder="检测人 / 检测地点 / 检测结果"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <button class="btn btn-success"><i class="icon-search"></i> 搜索</button>
                            {if $is_so}
                            <a id="btnClear" href="javascript:void(0);" class="btn btn-warning"><i class="icon-trash"></i> 清空搜索</a>
                            {/if}
                        </div>
                    </div>

                </form>
            </div>

            <p class="align-c text-info">总记录： {$total} 条</p>
            <hr/>
        </div>

        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th>序号</th>
                <th>检测时间</th>
                <th>检测地点</th>
                <th>检测结果</th>
                <th>检测人</th>
                <th>记录时间</th>
                <th>记录人</th>
            </tr>
            {empty name="list"}
            <tr><td colspan="7">木有找到相关的信息</td></tr>
            {else/}
            {foreach name="list" item="item" key="num"}
            <tr>
                <td>{$num + 1}</td>
                <td>{$item.TEST_TIME}</td>
                <td>{$item.TEST_PLACE}</td>
                <td>{$item.TEST_RESULT}</td>
                <td>{$item.TEST_PERSON}</td>
                <td>{$item.CREATE_TIME}</td>
                <td>{$item.CREATE_USER_NAME}</td>
            </tr>
            {/foreach}
            {/empty}
            </tbody>

        </table>

        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info"></div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">
                {$page|raw}
            </div></div>
        </div>
    </div>
</div>