<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span5"><h4 class="page-header">{$title}列表</h4></div>
                    <div class="span7">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                        <a href="{:url('UserUsers/create')}" class="btn btn-primary pull-right"><i class="icon-plus"></i>新增康复人员</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="controls ml0">
                <form class="form-horizontal">
                <div class="">搜索查询</div>
                <div class="control-group">
                    <label class="control-label"> 所属地区 </label>
                    <div class="controls" id="areas3">
                        <select name="area1" class="lv1" {if $powerLevel egt 2}disabled{/if} data-value="{$area1}"></select>
                        <select name="area2" class="lv2" {if $powerLevel egt 3}disabled{/if} data-value="{$area2}"></select>
                        <select name="area3" class="lv3" {if $powerLevel egt 4}disabled{/if} data-value="{$area3}"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"> 人员状态 </label>
                    <div class="controls">
                        <select name="userStatus">
                            <option value="">请选择</option>
                            {notempty name="user_status_list"}
                                {foreach name="user_status_list" item="status"}
                                    <option {if isset($userStatus) && $userStatus eq $status.ID}selected{/if} value="{$status.ID}">{$status.NAME}</option>
                                {/foreach}
                                <option {if isset($userStatus) && $userStatus eq strval(0)}selected{/if} value="0">其它</option>
                            {/notempty}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"> 风险评估 </label>
                    <div class="controls">
                        <select name="estimate">
                            <option value="">请选择</option>
                            {notempty name="estimate_list"}
                            {foreach name="estimate_list" item="item" key="ID"}
                            <option {if isset($estimate) && $estimate eq strval($ID)}selected{/if} value="{$ID}">{$item}</option>
                            {/foreach}
                            <option {if isset($estimate) && $estimate eq strval(0)}selected{/if} value="0">其它</option>
                            {/notempty}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="keywords" style="width: 300px;" class="input" value="{$keywords}" placeholder="手机 / 身份证号 / 姓名 / 地区 / 人员编号 / ID序号"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <button class="btn btn-success"><i class="icon-search"></i> 搜索</button>
                        {if $is_so}
                        <a href="./" class="btn btn-warning"><i class="icon-trash"></i> 清空搜索</a>
                        {/if}

                    </div>
                </div>

            </form>
            </div>
            <hr/>
        </div>

        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <!--<th>头像</th>-->
                <th>身份证号</th>
                <th>姓名（绰号）</th>
                <th>状态 / 时间</th>
                <th>手机号码</th>

                <th>所属禁毒办</th>
                <th>管辖社区</th>
                <th>户籍地</th>
                <th>操作</th>
            </tr>
            {empty name="list"}
            <tr><td colspan="9">木有找到相关的信息</td></tr>
            {else/}
            {foreach name="list" item="da"}
                <tr>
                    <!--<td><img src="{$da.HEAD_IMG_URL}" style="height: 30px"/></td>-->
                    <td>{$da.ID_NUMBER}</td>
                    <td>{$da.NAME}{if $da.ALIAS_NAME}<br/>（{$da.ALIAS_NAME}）{/if}</td>
                    <td>{$da.user_status}
                        {if $da.USER_SUB_STATUS_ID}
                            （{$da.USER_SUB_STATUS_NAME}）
                        {/if}
                        {if $da.JD_START_TIME && $da.JD_END_TIME}
                            <br/>{$da.JD_START_TIME} ~ {$da.JD_END_TIME}
                        {/if}
                    </td>

                    <td>{$da.MOBILE}</td>
                    <td><span title="{$da.MANAGE_POLICE_AREA_NAME}">{if strlen($da.MANAGE_POLICE_AREA_NAME) > 10}{:mb_substr($da.MANAGE_POLICE_AREA_NAME, 0, 10)}...{else/}{$da.MANAGE_POLICE_AREA_NAME}{/if}</span></td>
                    <td>{$da.MANAGE_COMMUNITY}</td>
                    <td><span title="{$da.DOMICILE_ADDRESS}">{if strlen($da.DOMICILE_ADDRESS) > 15}{:mb_substr($da.DOMICILE_ADDRESS, 0, 15)}...{else/}{$da.DOMICILE_ADDRESS}{/if}</span><br/>
                        {$da.zhi_pai_text|raw}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                操作列表 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{:url('UserUsers/edit',array('id'=>$da['ID']))}"><i class="icon-edit"></i> 编辑</a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-url="{:url('UserUsers/zhiPai',array('id'=>$da['ID']))}" class="openlayerwin2"><i class="icon-hand-right"></i> 指派</a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-url="{:url('UserUsers/read',array('id'=>$da['ID']))}" class="openlayerwin"><i class="icon-info-sign"></i> 详情</a>
                                </li>
                                {if $remove_allowed}
                                <li>
                                    <a href="javascript:;" data-href="{:url('UserUsers/delete',array('id'=>$da['ID']))}" onclick="deldata(this);"><i class="icon-trash"></i> 删除</a>
                                </li>
                                {/if}
                                <li>
                                    <a href="javascript:;" data-url="{:url('UserUsers/changePwsd',array('id'=>$da['ID']))}" class="openlayerwin1"><i class="icon-edit"></i> 修改密码</a>
                                </li>
                                <li>
                                    <a href="{:url('UserUsers/agreement',array('id'=>$da['ID']))}"><i class="icon-info-sign"></i> 社戒社康协议</a>
                                </li>
                                <li>
                                    <a href="{:url('UserEstimates/index',['id'=>$da.ID])}"><i class="icon-info-sign"></i> 风险评估</a>
                                </li>
                                <li>
                                    <a href="{:url('UserUsers/decision',array('id'=>$da['ID']))}"><i class="icon-book"></i> 决定书</a>
                                </li>
                                <li>
                                    <a href="{:url('UserUsers/recoveryPlan',array('id'=>$da['ID']))}"><i class="icon-book"></i> 康复计划</a>
                                </li>
                                <li>
                                    <a href="{:url('UserUrans/index',array('uuid'=>$da['ID']))}"><i class="icon-book"></i>尿检报告</a>
                                </li>
                                <li>
                                    <a href="{:url('UserUsers/phoneData',array('id'=>$da['ID']))}"><i class="icon-mobile-phone"></i>手机数据</a>
                                </li>
                                <li>
                                    <a href="{:url('UserUsers/logList',array('id'=>$da['ID']))}"><i class="icon-file"></i>操作日志</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {/foreach}
            {/empty}
            </tbody>

        </table>

        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info text-info">总记录： {$total} 条</div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">
            {$page|raw}
            </div></div>
        </div>
    </div>
</div>
