{__NOLAYOUT__}
{include file="common/layerheader"/}
<div class="container">

    <div class="row-fluid">
        <fieldset class="default padd10">
            <legend>设置【{$info.NAME}】社戒社康时间</legend>
            <form class="form-horizontal mt10" action="{:url('UserUsers/setJdStartTime', ['id' => $info.ID])}" method="post" id="postform">
                <input type="hidden" name="ref" value="{$ref}" />
                <div class="mb10">
                    <span class="b">开始时间：</span>
                    <input type="date" name="startTime" value="" placeholder="请输入开始时间"/>
                </div>
                <div id="page-mesg"></div>
                <div class="form-actions">
                    <input type="button" class="btn btn-primary" value="确定保存" id="savedata"/>
                    <a href="javascript:;" class="btn" onclick="closePlayer();">取消</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{include file="common/layerfooter"/}