<div class="main-wrapper">
    <div class="container-fluid">

        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">
                    <div class="span5"><h4 class="page-header">统计-人员状态</h4></div>
                    <!--<div class="span7">
                        <a href="javascript:void(0);" id="btnExport" class="btn btn-primary pull-right"><i class="icon-file"></i>导出</a>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="controls ml0">
                <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label"> 所属地区 </label>
                    <div class="controls" id="areas3">
                        <select name="area1" class="lv1" {if $powerLevel egt 2}disabled{/if} data-value="{$area1}"></select>
                        <select name="area2" class="lv2" {if $powerLevel egt 3}disabled{/if} data-value="{$area2}"></select>
                        <select name="area3" class="lv3" {if $powerLevel egt 4}disabled{/if} data-value="{$area3}"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <button id="btnStatistics" class="btn btn-success" type="button"><i class="icon-dashboard"></i> 统计</button>
                    </div>
                </div>

            </form>
            </div>
            <hr/>
        </div>

        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th width="40px">县市区</th>
                <th width="60px">乡镇街道</th>
                <th width="60px">村级社区</th>
                {foreach name="columnNames" key="id" item="name"}
                    <th width="{if strlen($name) egt 5}45px{else/}30px{/if}">{$name}</th>
                {/foreach}
            </tr>
            {empty name="list"}
            <tr><td colspan="19">木有找到相关的信息</td></tr>
            {else/}
            <tr class="total-row">
                <td>全部</td>
                <td>全部</td>
                <td>全部</td>
                {foreach name="allList" item="all"}
                    {foreach name="columnNames" key="id" item="name"}
                        <td>
                            {if $all[$id] gt 0}
                                <a href="../user_urans/howitgoes?{if isset($area1)}area1={$area1}{/if}{if isset($area2)}&area2={$area2}{/if}{if isset($area3)}&area3={$area3}{/if}">{$all[$id]}</a>
                            {else/}{$all[$id]}
                            {/if}
                        </td>
                    {/foreach}
                {/foreach}
            </tr>
            {foreach name="list" item="da"}
                <tr>
                    <td>{$da.COUNTY_NAME}</td>
                    <td>{if isset($da.STREET_NAME)}{$da.STREET_NAME}{/if}</td>
                    <td>{if isset($da.COMMUNITY_NAME)}{$da.COMMUNITY_NAME}{/if}</td>
                    {foreach name="columnNames" key="id" item="name"}
                        <td>
                            {if $da[$id] gt 0}
                            <a href="../user_urans/howitgoes?{if isset($da.COUNTY_ID_12)}area1={$da.COUNTY_ID_12}{/if}{if isset($da.STREET_ID)}&area2={$da.STREET_ID}{/if}{if isset($da.COMMUNITY_ID)}&area3={$da.COMMUNITY_ID}{/if}">{$da[$id]}</a>
                            {else/}{$da[$id]}
                            {/if}
                        </td>
                    {/foreach}
                </tr>
            {/foreach}
            {/empty}
            </tbody>

        </table>
        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info text-info">总记录： {$total} 条</div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">
                {$page|raw}
            </div></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    STATISTICS_URL = "{:url('UserUsers/statisticsUrine')}";
    EXPORT_URL = "{:url('UserUsers/exportStatisticsUrine')}";
</script>
