<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">安保排查人员</h3></div>
                    <div class="span9">
                        <a href="{:url('TroubleshootingPerson/index')}" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal left-align" method="post" action="{:url('TroubleshootingPerson/modify')}">
            <input type="hidden" name="ID" value="{$info.ID}" />
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 被排除人员姓名</label>
                <div class="controls">
                    <input type="text" name="NAME" value="{if isset($info)}{$info.NAME}{/if}" class="input" placeholder="请输入被排除人员姓名" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"><span class="error">*</span> 被排除人员身份证号码</label>
                <div class="controls">
                    <input type="text" name="ID_CODE" value="{if isset($info)}{$info.ID_CODE}{/if}" class="input" placeholder="请输入被排除人员身份证号码" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 被排除人员户籍地 </label>
                <div class="controls" id="domicileAreas">
                    <select name="DOMICILE_COUNTY_CODE" class="lv1" data-value="{if isset($info)}{$info.DOMICILE_COUNTY_CODE}{/if}"></select>
                    <select name="DOMICILE_STREET_CODE" class="lv2" data-value="{if isset($info)}{$info.DOMICILE_STREET_CODE}{/if}"></select>
                    <select name="DOMICILE_COMMUNITY_CODE" class="lv3" data-value="{if isset($info)}{$info.DOMICILE_COMMUNITY_CODE}{/if}"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 被排除人员户籍地详址</label>
                <div class="controls">
                    <input type="text" name="DOMICILE_ADDRESS" value="{if isset($info)}{$info.DOMICILE_ADDRESS}{/if}" class="input" placeholder="请输入被排除人员户籍地详址" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> 备注</label>
                <div class="controls"><textarea class="span8 ml0" name="REMARK" rows="20" style="height: 200px;" placeholder="">{if isset($info)}{$info.REMARK}{/if}</textarea>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary" id="subbtn">保存资料</button>
                <a href="javascript:history.back();" class="btn"><i class="icon-reply"></i> 取消</a>
            </div>
        </form>

    </div>
</div>