{__NOLAYOUT__}
{include file="common/layerheader"/}
<div class="container">

    <div class="row-fluid">
        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
                <tr><th class="align-c">{$info.TITLE}</th></tr>
                <tr><td class="align-c">发送者：{$info.POSTER_NAME}        {$info.ADD_TIME}</td></tr>
                <tr><td class="align-c">接收者：{$info.client_tag_text}</td></tr>

                <tr><td>{$info.CONTENT|raw}</td></tr>

            </tbody>
        </table>
    </div>
</div>