<style>
    .imageWrapper {margin: 0; font-size: 0;}
    .imageWrapper li { display: inline-block; margin-left: 1%; padding-top: 1%;}
    .viewer-toolbar>li {
        line-height: inherit;
    }
</style>
<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span7"><h4 class="page-header">康复人员【{$user.NAME}】的决定书</h4></div>
                    <div class="span5">
                        <a href="{:url('UserUsers/index')}" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                        <a href="{:url('UserDecisions/create', ['id' => $user.ID])}" class="btn btn-primary pull-right"><i class="icon-plus"></i>新增决定书</a>
                    </div>
                </div>
            </div>
        </div>

        <!---->

        {empty name="list"}
        <tr><td>没有找到相关的信息</td></tr>
        {else/}
        {foreach name="list" item="da"}
        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th style="width:120px;">添加时间</th><td>{$da.ADD_TIME}</td></tr>
            <tr>
                <th>决定书内容</th>
                <td>
                    {notempty name="$da.imgs"}
                    <ul class="imageWrapper">
                        {foreach name="$da.imgs" item="image"}
                            <li><img data-original="{$image.SRC_PATH}" src="{$image.SRC_PATH}" style="width: 60px;height: 80px;" /></li>
                        {/foreach}
                    </ul>
                    {/notempty}
                </td>
            </tr>
            <tr>
                <th>操　　作</th>
                <td>
                    <a href="javascript:;" data-href="{:url('UserDecisions/delete',array('uuid' => $da['UUID'], 'decisionId' => $da['ID']))}" class="btn mini btn-danger" onclick="deldata(this);"><i class="icon-trash"></i>删除</a>
                </td>
            </tr>
            </tbody>

        </table>
        {/foreach}
        {/empty}
    </div>
</div>
